---
- name: Wait 300 seconds for port 22 to become open and contain "OpenSSH"
  gather_facts: False
  hosts: all
  tasks:
    - name: ensure ssh is open
      wait_for:
        port: 22
        host: '{{ (ansible_ssh_host|default(ansible_host))|default(inventory_hostname) }}'
        search_regex: OpenSSH
        delay: 10
        timeout: 300
      vars:
        ansible_connection: local

- name: Configure ec2 instance
  hosts: all
  become: true
  become_user: root
  become_method: su
  become_exe: sudo su -
  tasks:
    - name: Update apt 
      shell: apt update 

    - name: Install packages for docker
      apt:
        pkg:
        - ca-certificates
        - curl
        - gnupg

    - name: Add Docker official GPG key(1)
      shell: install -m 0755 -d /etc/apt/keyrings
      ignore_errors: true  

    - name: Add Docker official GPG key(2)
      shell: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
      ignore_errors: true

    - name: Add Docker official GPG key(3)
      shell: chmod a+r /etc/apt/keyrings/docker.gpg
      ignore_errors: true

    - name: Set up repository for docker
      shell: echo "deb [arch="$(dpkg --print-architecture)" signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu "$(. /etc/os-release && echo "$VERSION_CODENAME")" stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
      ignore_errors: true

    - name: Update apt 
      shell: apt update 

    - name: Install docker packages
      apt:
        pkg:
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-buildx-plugin
        - docker-compose-plugin

    - name: Add docker group
      group:
        name: docker
        state: present

    - name: Add user to docker group
      user:
        name: ubuntu
        append: true
        groups: docker

    - name: Pull docker image
      community.docker.docker_image:
        name: daipham99/learning
        source: pull

    - name: Run docker image
      community.docker.docker_container:
        image: daipham99/learning
        name: app
        pull: true
        ports:
          - "80:80"
          - "443:443"


